body {
  background: black;
  height: 120%;
  margin: 30px 0px 75px 0px;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
h2 {
  text-align: center;
  margin: 0 10px 0 10px;
  font-family: "Space Mono", monospace;
  color: black;
  letter-spacing: 0.2rem;
  text-shadow: 1px 1px 5px black;
}

h3,
h4,
h5,
h6,
p {
  margin: 0 50px 5px 50px;
  font-family: "Roboto Mono", monospace;
}

img {
  margin-left: 15%;
  box-shadow: 3px 3px 5px #2a6592;
  max-width: 75%;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  opacity: .5;
}

img:hover {
  margin-left: 1%;
  margin-right: 1%;
  border-radius: 1%;
  max-width: 98%;
  opacity: 1;
}

.nasaList {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form {
  /* display: flex;
  justify-content: center; */
  margin-bottom: 50px;
  margin-left: 2%;
  font-family: "Roboto Mono", monospace;
}

label {
  margin: 10px 15px;
}

.loader {
  font-size: 0.5rem;
  color: #db9833;
  text-align: center;
  margin-top: 30%;
}

.scale-in-hor-left {
	-webkit-animation: scale-in-hor-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-hor-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/**
 * ----------------------------------------
 * animation scale-in-hor-left
 * ----------------------------------------
 */
 @-webkit-keyframes scale-in-hor-left {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
}
@keyframes scale-in-hor-left {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
}

@keyframes twink {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}

@-webkit-keyframes twink {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-moz-keyframes twink {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-ms-keyframes twink {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}

.stars, .twinkling {
position:absolute;
top:0;
left:0;
right:0;
bottom:0;
width:100%;
height:100%;
display:block;
}

.stars {
background:#000 url(https://i.ibb.co/LPD5dCq/stars.png) repeat top center;
z-index:0;
}

.twinkling {
background:transparent url(https://i.ibb.co/m5Rrkfr/twinkling.png) repeat top center;
z-index:1;

-moz-animation:twink 200s linear infinite;
-ms-animation:twink 200s linear infinite;
-o-animation:twink 200s linear infinite;
-webkit-animation:twink 200s linear infinite;
animation:twink 200s linear infinite;
}

footer {

}